#title-name {
    background-color: aquamarine;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: solid black;
}
#password-button {
    color: yellow;
    background-color: fuchsia;
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif
}