.center-meme {
    display:flex;
    justify-content: center;
    width:100vw;
    padding: 20px 0 20px 0;
}

#content {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    margin-top:20px;
    margin-bottom: 20px;
    width:100vw;
}

#randomImage {
    height:200px;
}

#checkbox-meme {
    height:350px;
    border:black 2px solid;
    border-radius: 2px;
}

.loading {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 3s infinite linear;
    transform: translate(-50%, -50%);
    display: none;
    transform: rotate(3deg);
    margin-left:10px;
}

.flex {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.col {
    flex-direction: column;
}

.pass-box-1 {
    display:flex;
    justify-content: center;
    /* position:relative; */
}

.pass-box-2 {
    border: 1px black solid;
    background-color: rgb(248, 246, 178);
    width: 270px;
    max-width:80vw;
    height: 35px;
    margin-top:10px;
    position:relative;
}

#save-btn {
    width: 35px;
    height: 35px;
    margin-left: 15px;
}

#open-jokes-btn {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.icon:active {
    background-color: rgb(205, 202, 131);
    border-radius: 10px;
}

#save-pass-container {
    display:none;
}

.joke-box-2 {
    border: 1px black solid;
    background-color: rgb(248, 246, 178);
    width:42vw;
    min-height:70px;
    padding:10px;
    margin-top:10px;
}

#pass-container {
    display:flex;
    justify-content: right;
    width:50vw;
}

.container-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    border:rgb(33,73,107) 8px solid;
    border-radius: 8px;
    padding:40px 20px 20px 20px;
    height:360px;
    width:48vw;
    margin:0;
}

#hat-box {
    display:flex;
    justify-content: center;
    align-items: center;
    border:rgb(33,73,107) 8px solid;
    border-radius: 8px;
    padding:20px;
    height:260px;
    width:250px;
    margin:10px;
    background-color: rgb(254,254,254);
}

#joke_container {
    display: flex;
    justify-content: center;
    float:right;
}

.joke-options {
    width:300px;
    max-width:80vw;
    justify-content: space-between;
}

#results_page {
    border-left:0;
    border-right:0;
}

/* @media screen and (max-width:425px){
    #save-btn {
        top:50px;
        right:117px;
    }
} */

@media screen and (max-width:768px){
    #content {
        grid-template-columns: 1fr;
    }
    #pass-container {
        width:100%;
        justify-content: center;
    }
    #joke-container {
        align-items: center;
    }
    .container-box {
        width:90vw;
    }
    .joke-box-2 {
        width:70vw;
    }
}

@media screen and (min-width:1020px){
    .icon:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
}